@media screen and (min-width:769px) {

}

@media screen and (max-width: 768px){
	header.position-absolute {
	    background: #fff none repeat scroll 0 0;
	    position: relative;
	}
	nav {
	    display: block;
	    cursor: pointer;
	    line-height: 3;
	}
	.web-top-navbar {
    	background: #fff;
    	height: 80px;
    }
    .nav-menu-right li a {
    	color: #000;
    	padding: 10px;
	}
	.nav-menu-right .active-item > a{
	    background: rgba(255, 255, 255, 0.08) none repeat scroll 0 0;
	    color: #18bfef;
	    opacity: 1;
	}
	/*.web-logo {
	    max-width: 250px;
	    margin: 0 auto;
	}*/
	.web-logo img {
	    /*margin: 0 auto;*/
	    max-width: 250px;
	}
	.logo-white {
    	display: none;
	}
	.logo-dark {
    	display: block;
	}
	button.nav-mob-btn {
    	display: block;
	}
	.nav-mob-btn{
		position: absolute;
		right: 0;
    	top: 12px;
		padding: 5px 10px;
    	font-size: 2rem;
	    line-height: 1;
	    background: 0 0;
	    color: #18bfef !important;
	    border-color: #18bfef !important;
	    border-radius: .25rem;
	}
	.menu-nav{
		padding-left: 0px;
		padding-right: 0px;
	}
	.show-menu{
	    height: auto !important;
	}
	ul.nav-menu-right{
	    float: none;
	    height: 0;
	    background: #fff;
    	margin-top: 80px;
	    max-width: 100%;
	    overflow: hidden;
	    position: relative;
	    z-index: 999;
	}
	.nav-menu-right li{
	    float: none;
	    list-style: none outside none;
	    padding: 0;
	}

	.web-top-navbar li a, .web-top-navbar li ul li a {
	    border-top: 1px solid #18bfef;
	    text-align: center;
	}

	.text-m-size-30 {
	    font-size: 30px !important;
	    line-height: 1.4;
	}
	.parallax-container{
        height: auto !important;
        min-height: auto !important;
    }
    .offer-section {
        padding: 70px 0px;
    }
    .offer-section .content {
        margin-top: 10px;
    }
    .form-box-sec {
        padding: 10px 0px 70px 0px;
    }
    form.parallax-form {
        width: 90%;
        margin: auto;
        display: block;
        text-align: center;
    }
}

@media screen and (max-width:480px) {

}

@media screen and (max-width:1366px) {

}

@media screen and (max-width:1140px) {

}