/*custom style seet*/
/*button hover color #18bfef*/

body {
  font-size:16px;
  font-family:"Open Sans",Arial,sans-serif;
  color:#444;
  background: #fff;
}
p {
  color: #777;
  font-size: 0.85rem;
  line-height: 1.6rem;
}
h1, h2, h3, h4, h5, h6{
  color: #000;                                         
  margin-bottom: 15px;
  margin-top: 0;
}
h1{
  font-size: 1.8rem;
}
h2{
  font-size: 1.4rem;
}
h3{
  font-size: 1.2rem;
}
h4{
  font-size: 1.1rem;
}
h5{
  font-size: 1rem;
}
h6{
  font-size: 0.9rem;
}
header.position-absolute {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}
.web-top-navbar{
  background: transparent;
  display: block;
    width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.09);
    padding: 0 2rem;
    position: relative;
    z-index: 2;
  transition: all 0.20s linear 0s;
    -o-transition: all 0.20s linear 0s;
    -ms-transition: all 0.20s linear 0s;
    -moz-transition: all 0.20s linear 0s;
    -webkit-transition: all 0.20s linear 0s;  
}
.web-logo img {
    margin: 0;
    max-width: 200px;
    position: relative;
    top: 12px;
    width: 100%;
}
.logo-dark {
    display: none;
}
button.nav-mob-btn {
    display: none;
}
ul.nav-menu-right {
    float: right;
    padding: 0;
    margin-bottom: 0;
}
.nav-menu-right li {
    float: left;
    list-style: none outside none;
    cursor: pointer;
    font-size: 0.85rem;
    line-height: 1.6;
}
.nav-menu-right li a{
    padding: 1.5rem;
    font-size: 0.85rem;
    display: block;
    color: #ffffff;
}
.fixed .nav-menu-right li a {
    color: #000;
}
.nav-menu-right .active-item > a{
    background: rgba(255, 255, 255, 0.08) none repeat scroll 0 0;
    color: #18bfef;
    opacity: 1;
}
.fixed .nav-menu-right .active-item > a{
    background: rgba(255, 255, 255, 0.08) none repeat scroll 0 0;
    color: #18bfef;
    opacity: 1;
}
.submenu{
   position: relative; 
}
.submenu ul{
    display: none;
}
li.submenu:hover ul{
   display: block; 
}
li.submenu ul{
  position: absolute;
  top: 70px;
  border:1px solid rgba(255, 255, 255, 0.09);
  padding: 15px 0;  
}
li.submenu ul li {
    list-style: none outside none;
    cursor: pointer;
    font-size: 0.85rem;
    line-height: 1.6;
    float: none;
}
li.submenu ul li a{
    color: #fff;
    padding: 5px 20px;
}
.nav-menu-right li a:hover{
   background: rgba(255, 255, 255, 0.08) none repeat scroll 0 0;
    color: #18bfef;
    opacity: 1;
    text-decoration: none; 
}
/*fixed navbar css*/
.fixed {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}
nav.fixed, .fixed nav {
  padding: 1rem 0;
}
nav.fixed, .fixed nav {
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  padding: 0 2em;
}
nav.fixed .web-top-navbar li a, .fixed nav .web-top-navbar li a {
  color: #444;  
}
nav.fixed .logo-white, .fixed nav .logo-white {
  display:none;
}
nav.fixed .logo-dark, .fixed nav .logo-dark {
  display:block;
}  
.background-dark{
    background-color: #002633 !important;
}
.owl-item img{
    max-width: none;
    width: 100%;
}
.carousel-main .carousel-content {
    bottom: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}
.content-center-vertical {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.m-t-b-80 {
    margin-top: 80px !important;
    margin-bottom: 80px !important;
    display: block;
}
.center {
    display: block!important;
    float: none;
    margin: 0 auto;
}
a.btn.banner-btn {
    border: 1px solid #fff;
    border-radius: 0;
    color: #fff;
}
a.btn.banner-btn:focus, a.btn.banner-btn:hover {
    text-decoration: none;
    border: 1px solid #18bfef;
    color: #18bfef;
}

.background-dark {
    background-color: #002633 !important;
}
/*start content section*/
.section-top-padding{
    padding-top: 5rem;
}
hr.under-line {
    background-color: #18bfef !important;
    border: 0;
    display: block;
    height: 2px;
    margin: 20px 0 35px;
    width: 100px;
}
hr.under-line {
    margin: 20px auto 35px;
}
.nav-tabs {
    width: 300px;
    margin: auto;
    padding-bottom: 20px;
}
.nav-tabs .nav-item {
    margin-bottom: 0px;
    padding: 0 2px;
}
.nav-tabs .nav-link {
    border: 2px solid transparent;
}
.nav-tabs .nav-link.active {
    color: #ffffff;
    background-color: #18bfef;
    border:2px solid #18bfef;
    border-radius: 0;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    color: #ffffff;
    background-color: #18bfef;
    border:2px solid #18bfef;
    border-radius: 0;
}

/*product css*/
.product-div{

}
.product-div img {
    border: 0;
    display: block;
    height: auto;
    max-width: 100%;
    width: auto;
}
.product-div h2{
    
}
.product-div .product-price{
    color: #18bfef;
    font-weight: 700;
}
.product-div a:hover{
    text-decoration: none;
    color: #18bfef;
}
.mb-cols {
    margin-bottom: 30px;
}
.txt-white{
    color: #ffffff;
}
.offer-text {
    padding: 0 25px;
}
.mt40 {
    margin-top: 40px;
}
.secondary_btn {
    text-transform: uppercase;
    background: #18bfef;
    color: #ffffff;
    border: 2px solid #18bfef;
    margin: auto;
    text-align: center;
    border-radius: 0px;
    padding: .6180469716em 1.41575em;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    display: inline-block !important;
    width: auto !important;
}
.secondary_btn:hover{
    color: #18bfef;
    background: transparent;
    border: 2px solid #18bfef;
    cursor: pointer;
}

/*paralax section css*/
.parallax-container {
    min-height: 580px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 70px;
    /* background: #E3E3E3; */
    background-image: url(/images/bg/para-bg.jpg);
    position: static;
    padding: 0;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: 50% 72px;
    background-attachment: fixed;
    overflow: hidden;
}
.offer-section {
    padding: 100px 20px 100px 200px;
}
.top-tile {
    text-align: center;
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
}
.offer-section .content {
    margin-top: 30px;
}
.offer-section .content p {
    color: #fff;
    font-size: 18px;
    padding: 0 35px;
}
.offer-section .content p span {
    color: #18bfef;
    font-size: 20px;
    font-weight: 700;
}
.form-box-sec {
    padding: 100px 200px 98px 20px;
}
form.parallax-form {
    margin-top: 30px;
}
.dis-none {
    display: none;
}
.form-control {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.parallax-form .form-box-input {
    margin-bottom: 20px;
    border: 1px solid #18bfef;
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    height: 50px;
}
.parallax-form .form-box-input:focus {
    color: #18bfef;
    background-color: transparent;
    border-color: #18bfef;
    outline: 0;
}
.parallax-form .form-box-input::placeholder{
    color: #ffffff !important;
    background-color: transparent !important;
    outline: 0 !important;
}
.parallax-form .btn-style {
    text-transform: uppercase;
    background: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
    margin: auto;
    text-align: center;
    border-radius: 5px;
    padding: 0.8em 1.8em;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    display: block !important;
    width: auto !important;
    outline: none;
}
.parallax-form .btn-style:hover {
    color: #18bfef;
    background-color: transparent;
    border: 2px solid #18bfef;
}
.parallax-form button.btn.btn-style.btn-top {
    margin-top: 50px;
}

/*astrologer section*/
.owl-item .image-testimonial-small {
    margin: 0 auto 20px;
    width: auto!important;
}
.margin-bottom {
    margin-bottom: 1.25rem;
}
.owl-carousel .owl-nav div {
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    transition: all 0.20s linear 0s;
    -o-transition: all 0.20s linear 0s;
    -ms-transition: all 0.20s linear 0s;
    -moz-transition: all 0.20s linear 0s;
    -webkit-transition: all 0.20s linear 0s;
}
.owl-carousel .owl-nav div {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #7697a2!important;
    border: 1px solid #7697a2;
    border-radius: 0;
    font-family: sli;
    height: 40px;
    line-height: 40px;
    margin-top: -20px;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 40px;
}
.owl-carousel .owl-nav div {
    border: 0 none;
    color: #C9C9C9 !important;
    font-family: sli;
    font-size: 30px;
    height: auto;
    line-height: 0;
    width: auto;
}
.carousel-wide-arrows.owl-carousel .owl-nav .owl-prev {
    left: -60px;
}
.owl-dots {
    margin-top: 0.625rem;
}
.owl-carousel .owl-dots {
    text-align: center;
}
.owl-carousel .owl-dot {
    display: inline-block;
}
.owl-carousel .owl-dot span {
    background: #18bfef none repeat scroll 0 0;
    border-radius: 0;
    display: block;
    height: 1px;
    margin: 0 1px;
    width: 30px;
    opacity: 0.5;
    transition: all 0.20s linear 0s;
    -o-transition: all 0.20s linear 0s;
    -ms-transition: all 0.20s linear 0s;
    -moz-transition: all 0.20s linear 0s;
    -webkit-transition: all 0.20s linear 0s;
}
.owl-carousel .owl-dot span {
    height: 10px;
    margin: 0 5px;
    width: 10px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.owl-carousel .owl-dot.active span {
    opacity: 1;
}

/*Gellary Css*/
.tab-content {
    text-align: left;
}
.image-with-hover-overlay {
    display: block;
    position: relative;
}
.image-hover-overlay {
    bottom: 0;
    color: rgba(255,255,255, 0.75)!important;
    left: 0;
    opacity: 0;
    padding: 1.25rem;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    transition: all 0.20s linear 0s;
    -o-transition: all 0.20s linear 0s;
    -ms-transition: all 0.20s linear 0s;
    -moz-transition: all 0.20s linear 0s;
    -webkit-transition: all 0.20s linear 0s;
    transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}
.background-primary{
    background-color: #18bfef !important;
}
.image-hover-zoom {
    display: block;
    overflow: hidden;
}
.image-hover-overlay-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 60%;
    transition: all 0.20s linear 0s;
    -o-transition: all 0.20s linear 0s;
    -ms-transition: all 0.20s linear 0s;
    -moz-transition: all 0.20s linear 0s;
    -webkit-transition: all 0.20s linear 0s;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.image-with-hover-overlay h2,
.image-with-hover-overlay p{
    color: #ffffff;
}
.padding-2x {
    padding: 2.5rem!important;
}
.image-hover-zoom img {
    transition: all 0.20s linear 0s;
    -o-transition: all 0.20s linear 0s;
    -ms-transition: all 0.20s linear 0s;
    -moz-transition: all 0.20s linear 0s;
    -webkit-transition: all 0.20s linear 0s;
}
.image-with-hover-overlay img {
    width: 100%;
}
.image-hover-zoom img {
    transition: all 0.50s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    -o-transition: all 0.50s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    -ms-transition: all 0.50s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    -moz-transition: all 0.50s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    -webkit-transition: all 0.50s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.image-hover-zoom:hover img {
    transform: scale(1.1);
}
.image-hover-overlay:hover {
    opacity: 1;
}
.pad-l-r-0{
    padding-left: 0;
    padding-right: 0;
}

/*video section css*/
iframe {
    height: 280px;
}
iframe {
    border: none !important;
}
.video-heading-title {
    color: #D19600;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.1;
    font-family: Montserrat-Regular, sans-serif;
}
.btn-style {
    text-transform: uppercase;
    background: #18bfef;
    color: #ffffff;
    border: 2px solid #18bfef;
    margin: auto;
    text-align: center;
    border-radius: 0px;
    padding: .6180469716em 1.41575em;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    display: block !important;
    width: auto !important;
    outline: none;
}
.btn-style:hover {
    color: #18bfef;
    background-color: transparent;
    border: 2px solid #18bfef;
}


/*footer css*/
footer {
    background-color: #000;
    margin-top: 5rem;
}
ul.social-icons {
    cursor: default;
    padding: 2em 0;
    margin: auto;
    display: block;
    text-align: center;
}
ul.social-icons li {
    display: inline-block;
    font-size: 1.25em;
    line-height: 1em;
    padding-left: 0.5em;
}
ul.social-icons li:first-child {
    padding-left: 0;
}
footer a {
    color: #ffffff;
}
ul.social-icons li a:hover{
    background: rgba(224, 224, 224, 0.15);
    color: #ffffff;
    text-decoration: none;
}
.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
}
ul.social-icons li a{
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    border-radius: 100%;
    border: solid 1px rgba(224, 224, 224, 0.75);
    display: inline-block;
    height: 2em;
    line-height: 2em;
    text-align: center;
    width: 2em;
}

/*gellery css*/
.baner-section{
    background-color: #002633 !important;
    padding: 6rem 1.25rem;
}
.baner-content{
    max-width: 71rem;
    margin: 0 auto;
}
.baner-content p{
    color: #fff;
}

/*about us*/
.about-us-section{

}
.about-us-section hr{
    margin: 0;
}
.about-us-section p{
    
}
.about-content-section img {
    border: 0;
    display: block;
    height: auto;
    max-width: 100%;
    width: auto;
}
.heading-title {
    color: #18bfef;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.1;
    font-family: Montserrat-Regular, sans-serif;
}
p.contact-sub-heading {
    text-align: center;
    margin-top: 10px;
    font-weight: 700;
}
.windows-firm-Box{
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  height: auto;
  width: 500px;
  border-radius: 0px;
  border:2px #18bfef solid;
}
.windows-firm-Box .top-tile{
  height: 60px;
  background-color: #18bfef;
  color: #fff;
  font-size: 28px;
  text-align: center;
  font-weight: 700;
  padding: 10px;
}
.windows-firm-Box .windows-form{
  padding: 30px;
}
.windows-firm-Box .windows-form-input{
  border-radius: 0px !important;
  border:none!important;
  border-bottom: 1px #18bfef solid !important;
  outline: none;
   margin-bottom: 20px;
}
.windows-firm-Box .windows-form-input:focus{
  border-radius: 0px !important;
  border:none!important;
  border-bottom: 1px #18bfef solid !important;
  outline: none !important;
}
.windows-firm-Box input::placeholder {
  color: #183f58 !important;
}
.windows-firm-Box .btn-top{
  margin-top: 30px;
}

/*Products details style*/
.wrap-slick3-dots {
  width: 14.5%;
}

.slick3 {
  width: 80.64%;
}

.slick3-dots li {
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: 15px;
}

.slick3-dots li img {
  width: 100%;
}

.slick3-dot-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  border: 3px solid transparent;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.slick3-dot-overlay:hover {
  border: 3px solid #888888;
}

.slick3-dots .slick-active .slick3-dot-overlay {
  border: 3px solid #ce2350;
}
input.num-product {
    -moz-appearance: textfield;
    appearance: none;
    -webkit-appearance: none;
}
.block2-labelnew::before {
    background-color: #66a8a6;
    content: 'New';
}
.block2-labelsale::before, .block2-labelnew::before {
    z-index: 100;
    font-family: Montserrat-Regular;
    font-size: 12px;
    color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 22px;
    border-radius: 11px;
    position: absolute;
    top: 12px;
    left: 25px;
}
.block2-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    opacity: 0;
}
.block2-btn-towishlist, .block2-btn-addwishlist {
    display: block;
    position: absolute;
    top: 26px;
    right: 20px;
    font-size: 20px;
    color: white;
    line-height: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
.block2-btn-addwishlist .icon-wishlist, .block2-btn-towishlist .icon-wishlist {
    line-height: 0;
}
.block2-btn-addcart {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -45px;
}
.show-dropdown-content .down-mark {
    display: block;
}
.show-dropdown-content .up-mark {
    display: none;
}
.page-item.active .page-link {
    z-index: 2;
    color: #fff;
    background-color: #ce2350 !important;
    border-color: #ce2350 !important;
}
.page-link{
    color: #ce2350;
    background-color: #fff;
    border: 1px solid #ddd;
}
/*end*/